* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #181a1d;
  padding-top: 100px;
}
.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  width: 90%;
  max-width: 400px;
  padding: 20px 10px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  background-color: #000000;
  background-image: linear-gradient(0deg, #600684 0%, #08cbf7 100%);
}
.weather-search__container {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-search__container input {
  width: 75%;
  height: 40px;
  padding-left: 14px;
  outline: none;
  border: none;
  border-radius: 40px;
  margin-right: 10px;
  font-size: 1.1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
#search-button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#search-button img {
  width: 50%;
}
.weather-info__container h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
}
.weather-info__container h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 500;
}
.weather-info__container img {
  width: 35%;
}
#wind-img {
  width: 30%;
  margin-right: 10px;
}
#humidity-img {
  width: 30%;
  margin-right: 10px;
}
.wind-humidity-info__container{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 400;
  text-align: left;
}
.humidity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wind-container {
  display: flex;
  align-items: center;
  justify-content: center;
}